@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    box-sizing: border-box;         /** ขนาดเนื้อหาทั้งหมด เท่า border-box หลัก (หน้าเว็บ) */
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: #f4f4f4f4;
    display: flex;
    flex-direction: column;         
    align-items: center;            /** ซ้าย, ขวา มาตรงกลาง */
    justify-content: center;        /** เอาเนื้อหามาตรงกลาง */

    height: 100vh;                  /** พื้นที่ข้างบนลงมา */

    margin: 0;
    padding: 0;
}

.btn{
    /* color: #fff; */
    background-color: orange;
    cursor: pointer;                 /** นิ้วไปโดน จะขึ้นให้กดได้ */
    font-size: 12px;
    padding: 5px 12px;
    margin-top: 20px;
}

.money-img{
    width: 210px;
}

.currency{
    padding: 40px ;
    align-items: center;
    justify-content: space-between; /** เพิ่มพื้นที่ว่างระหว่างเนื้อหา */
}

.currency select{
    padding: 10px 20px 10px 20px;   
    border: 1px solid #dedede;
    font-size: 16px;
    background: transparent;        /** พื้นหลังโปล่ง */
}

.currency input{
    border: 0;
    font-size: 30px;
    text-align: right;              /** เนื้อหาเรื่มจากขวา */
}

.swap-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate{
    font-size: 20px;
    padding-top: 16px;
    padding-right: 10px;
}

/* ! เอาขอบดำที่มาจากการกดออก */
select:focus,input:focus,button:focus{
    outline: 0;
}